.board {
  width: 100vw;
  height: 100vh;
  background-color: rgb(10, 51, 10);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  box-sizing: border-box;
}

.start {
  width: 100vw;
  height: 100vh;
  background-color: rgb(10, 51, 10);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nametext {
  color: white;
  margin: 10px;
  font-size: 20px;
}

.input, .button {
  margin: 10px;
}

.name {
  color: white;
  font-size: 20px;
  margin: 10px;
}

.player {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.table {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardList {
  height: 40%;
}

.card {
  height: 100px;
}

.card.hand {
  margin-right: -40px;
}

.card.shown, .card.blind {
  margin: 0px 10px 0px 10px;
}

.card.pile {
  margin-right: -60px;
}

.card.selected {
  margin-bottom: 20px;
}
