.board {
  width: 100vw;
  height: 100vh;
  background-color: rgb(10, 51, 10);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  box-sizing: border-box;
}

.start {
  width: 100vw;
  height: 100vh;
  background-color: rgb(10, 51, 10);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nametext {
  color: white;
  margin: 10px;
  font-size: 20px;
}

.input, .button {
  margin: 10px;
}

.name {
  color: white;
  font-size: 20px;
  text-align: center;
}

.playerSpace {
  height: 40%;
}

.tableSpace {
  height: 20%;
}

.playerLine {
  height: 45%;
}

.tableLine {
  height: 90%;
}

.cardList {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card {
  height: 80%;
}

.card.hand {
  margin-right: -40px;
}

.card.shown, .card.blind {
  margin: 0px 10px 0px 10px;
}

.blindAndShown {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card.selected {
  margin-bottom: 20px;
}

.putButton {
  margin-left: 50px;
  background-color: grey;
  color: white;
  font-size: 18px;
}

.container, .row, .col-6 {
  height: 100%;
}

textarea {
  width: 100%;
}

.deck {
  margin-right: 30px;
}